@{
    ViewData["Title"] = "Home Page";
}


<table class="table">
    <thead>
        <tr>
            <th>
                Название
            </th>
            <th>
               Цена
            </th>
            <th>
                Количество
            </th>
        </tr>
    </thead>
    <tbody class="rows"/>
</table>




